{
    "extends": "airbnb-base",
    "plugins": ["jest"],
    "env": {
        "jest/globals": true
    },
    "parser": "babel-eslint",
    "rules": {
        "func-names": ["error", "never"],
        "indent": ["error", 4],
        "semi": 0
    },
    "globals": {
        "document": true,
        "fetch": true
    }
}