<div class="container">
    <div class="block header">
        Напишите нам об ошибке!
        <div class="dismiss"></div>
    </div>
    <div class="wrapper">
        <div class="block author">
            <input class="field" type="text" placeholder="Ваше Имя" />
        </div>
        <div class="block message">
            <textarea class="field" type="text" placeholder="Оставьте сообщение"></textarea>
        </div>
        <div class="block actions">
            <button class="button">Отправить</button>
        </div>
        <div class="cover loading">Отправляем, ждите...</div>
        <div class="cover error">
            <div class="field">Упс, что-то пошло не так...</div>
            <button class="button">Отправить еще раз</button>
        </div>
    </div>
</div>