<div class="rp-container">
    <div class="rp-container__header">
        Напишите нам об ошибке!
        <div class="rp-container__dismiss"></div>
    </div>
    <div class="rp-container__wrapper">
        <div class="rp-container__author">
            <input class="rp-container__field" type="text" placeholder="Ваше Имя" />
        </div>
        <div class="rp-container__message">
            <textarea class="rp-container__field" type="text" placeholder="Оставьте сообщение"></textarea>
        </div>
        <div class="rp-container__actions">
            <button class="rp-container__button">Отправить</button>
        </div>
        <div class="rp-container__cover rp-container__cover_loading">Отправляем, ждите...</div>
        <div class="rp-container__cover rp-container__cover_error">
            <div class="rp-container__field">Упс, что-то пошло не так...</div>
            <button class="rp-container__button">Отправить еще раз</button>
        </div>
    </div>
</div>