.container * {
    box-sizing: border-box;
}

.container {
    bottom: 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    min-width: 280px;
    padding: 0;
    position: absolute;
    right: 20px;
}

.container.minimized .closeButton {
    display: none;
}

.container.minimized>.wrapper {
    max-height: 0;
    opacity: 1;
}

.container.minimized .titleContainer {
    cursor: pointer;
}

.wrapper {
    max-height: 500px;
    opacity: 1;
    overflow: hidden;
    position: relative;
    transition: all .2s ease-in-out;
}

.loading {
    background-color: rgb(245, 249, 251);
    color: rgb(136, 145, 137);
    height: 100%;
    left: 0;
    line-height: 250px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}

.titleContainer {
    background-color: rgb(0, 146, 235);
    color: #fff;
    margin: 0;
    padding: 15px 20px;
}

.authorContainer {
    padding: 0;
}

.authorContainer>input {
    border: none;
    border-bottom: 1px solid transparent;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 20px;
    width: 100%;
}

.authorContainer>input:focus {
    outline: 0;
}

.messageContainer {
    padding: 0;
}

.messageContainer>textarea {
    background-color: rgba(245, 249, 251, 1);
    border: none;
    border-bottom: 1px solid transparent;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100px;
    padding: 20px;
    resize: none;
    width: 100%;
}

.messageContainer>textarea:focus {
    outline: 0;
}

.actionsContainer {
    padding: 20px;
}

.sendButton {
    background-color: rgba(0, 146, 235, 1);
    border: none;
    color: #fff;
    cursor: pointer;
    letter-spacing: 1px;
    padding: 12px 35px 10px;
    text-transform: uppercase;
    width: 100%;
}

.sendButton:focus {
    outline: 0;
}

.closeButton {
    color: #fff;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: lighter;
    position: absolute;
    right: 8px;
    text-decoration: none;
    top: 8px;
}

.closeButton:after {
    /* UTF-8 symbol */
    content: '✖';
}