.rp-container * {
    box-sizing: border-box;
}

.rp-container fieldset {
    border: none;
    margin: 0;
    padding: 0;
}
.rp-container {
    bottom: 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    width: 280px;
    padding: 0;
    position: absolute;
    right: 20px;
}

.rp-container_minimized .rp-container__wrapper {
    max-height: 0;
    opacity: 1;
}
.rp-container_minimized .rp-container__dismiss {
    display: none;
}

.rp-container__wrapper {
    max-height: 500px;
    opacity: 1;
    overflow: hidden;
    position: relative;
    transition: all .2s ease-in-out;
}

.rp-container__cover {
    background-color: rgb(245, 249, 251);
    color: rgb(136, 145, 137);
    display: none;
    height: 100%;
    left: 0;
    padding: 20px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}

.rp-container__header {
    background-color: rgb(0, 146, 235);
    color: #fff;
    padding: 15px 20px;
}

.rp-container__dismiss {
    color: #fff;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: lighter;
    position: absolute;
    right: 8px;
    text-decoration: none;
    top: 8px;
}

.rp-container__dismiss:after {
    /* UTF-8 symbol */
    content: '✖';
}

.rp-container__cover .rp-container__field {
    padding: 20px 0;
}

.rp-container__field {
    border: none;
    border-bottom: 1px solid transparent;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0px;
    padding-top: 10px;
    width: 100%;
}

.rp-container__button:focus,
.rp-container__field:focus {
    outline: 0;
}

.rp-container__button {
    background-color: rgba(0, 146, 235, 1);
    border: none;
    color: #fff;
    cursor: pointer;
    letter-spacing: 1px;
    padding: 12px 35px 10px;
    text-transform: uppercase;
    width: 100%;
}

.rp-container__message {
    background-color: rgba(245, 249, 251, 1);
}

.rp-container__message .rp-container__field {
    background-color: transparent;
    min-height: 80px;
    resize: none;
}

.rp-container label ,
.rp-container label {
    color: rgb(136, 145, 137);
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    padding: 20px;
}

.rp-container__actions {
    padding: 20px;
}